* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.counter {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  background-color: thistle;
}

.counterBtn {
  width: 100px;
  height: 25px;
  cursor: pointer;
  outline: none;
  background-color: aquamarine;
  color: black;
}

.counterBtn:disabled {
  border: 2px solid red;
  opacity: 0.6;
}

.counterBtn:enabled {
  border: 2px solid green;
}